%h1.dark User Index
%ul
  - @users.each do |user|
    %li
      = link_to "#{user['name']}", user_path(user)
      = link_to 'Edit User Profile', edit_user_path(user)
      = link_to 'Delete User', user_path(user), method: :delete
      %br/
      %br/
