/ Main Feed
/ This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
.large-8.columns
  / Feed Entry
  .row
    %h1.brand-text.dark Welcome to <span class='top-text'>NYCSports</span>
    %br
    %h3.white.sans
      <span class='top-text'>NYCSports</span> was made for the ultimate New York sports fan. You've got a passion for your teams, but information about them
      is spread out across the web. You're a New Yorker - you don't have time for that. 
    %br
    %br
    %h5.white.sans
      We've gone to your favorite sites for you - and put them all right here. Just create a profile, select the teams you care about, and we'll do the rest. Get started <a class='top-text' href='/users/new'>here</a>.


  /   .large-2.columns.small-3
  /     %img{:src => "http://placehold.it/80x80&text=[img]"}/
  /   .large-10.columns
  /     %p
  /       %strong Some Person said:
  /       Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
  /     %ul.inline-list
  /       %li
  /         %a{:href => ""} Reply
  /       %li
  /         %a{:href => ""} Share
  /     %h6 2 Comments
  /     .row
  /       .large-2.columns.small-3
  /         %img{:src => "http://placehold.it/50x50&text=[img]"}/
  /       .large-10.columns
  /         %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
  /     .row
  /       .large-2.columns.small-3
  /         %img{:src => "http://placehold.it/50x50&text=[img]"}/
  /       .large-10.columns
  /         %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
  / End Feed Entry
  / %hr/
  / Feed Entry
  / .row
  /   .large-2.columns.small-3
  /     %img{:src => "http://placehold.it/80x80&text=[img]"}/
  /   .large-10.columns
  /     %p
  /       %strong Some Person said:
  /       Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
  /     %ul.inline-list
  /       %li
  /         %a{:href => ""} Reply
  /       %li
  /         %a{:href => ""} Share
  / End Feed Entry
  / %hr/
  / Feed Entry
  / .row
  /   .large-2.columns.small-3
  /     %img{:src => "http://placehold.it/80x80&text=[img]"}/
  /   .large-10.columns
  /     %p
  /       %strong Some Person said:
  /       Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
  /     %ul.inline-list
  /       %li
  /         %a{:href => ""} Reply
  /       %li
  /         %a{:href => ""} Share
  /     %h6 2 Comments
  /     .row
  /       .large-2.columns.small-3
  /         %img{:src => "http://placehold.it/50x50&text=[img]"}/
  /       .large-10.columns
  /         %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
  / End Feed Entry
/ Right Sidebar
/ On small devices this column is hidden
/ %aside.large-3.columns.hide-for-small
/   %p
/     %img{:src => "http://placehold.it/300x440&text=[ad]"}/
/   %p
/     %img{:src => "http://placehold.it/300x440&text=[ad]"}/
